.charsheet {
    background: white;
    min-height: 100%;
}

.col {
    padding: 1px;
}

.col-att {
    width: 30px ;
    text-align: center ;
    padding: 5px ;
    font-weight: bold ;
    Font-family: monospace, sans-serif ;
    font-size: 1.1em ;
}

.col-datt {
    width: 30px ;
    color: darkred ;
    text-align: center ;
    padding: 5px ;
    font-weight: bold ;
    Font-family: monospace, sans-serif ;
    font-size: 1.1em ;
}

.col-cha {
    text-align: left ;
    padding: 5px ;
    font-weight: bold ;
    Font-family: sans-serif ;
    font-size: 1.1em ;
}

.4colrow1 {
    background-color: rgb(190, 190, 190);
    margin: 1px;
    height: 30px;
    padding: 1px 1px 0px -1px;
}

.altrow {
    background-color: rgb(190, 190, 190);
    height: 30px;
    margin: 1px;
    padding: 1px 1px 0px -1px;
}

.4colrow {
    margin: 1px;
    height: 30px;
    padding: 1px 1px 0px -1px;
    background-color: rgb(235, 235, 235);
}

.2colrow1 {
    padding: 0px;
    margin: 0px 0px 0px 0px;
    border: 0px;
}

/* ===== Info =====*/
.col-inf {
    width: 60px ;
    text-align: right ;
    padding: 5px 0px 0px 2px;
    display: inline;
    font-weight: bold ;
    Font-family: sans-serif;
    font-size: 1em ;
}

.col-it {
    text-align: center ;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: inline;
}

.57 {
    width: 65px;
    margin: 1px 0px 0px 0px;
    font-weight: bold;
    Font-family: sans-serif;
    font-size: 0.9em ;
}

.53 {
    width: 53px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    Font-family: sans-serif;
    font-size: 0.9em ;
}

.82 {
    width:102px;
    margin: 1px 0px 0px 0px;
    font-weight: bold;
    Font-family: sans-serif;
    font-size: 0.9em ;
}

/* ===== Defenses ===== */
.col-def {
    height: 30px;
    text-align: right ;
    padding: 5px 0px 0px 10px;
    font-weight: bold ;
    Font-family: monospace, sans-serif ;
    font-size: 0.9em ;
    display: inline;
    position: relative;
    top: 5px;
}

/* ===== WEAPON ===== */

.select {
    padding: 0px;
}

.col-wv {
    height: 30px;
    text-align: left ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, sans-serif;
    font-size: 1em ;
    display: inline;
    position: relative;
    top: 5px;
}

.col-wv3 {
    width: 100px ;
    height: 30px;
    text-align: justify ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.8em ;
    display: inline;
    position: relative;
    top: 5px;
}

.col-wMv {
    width: 115px ;
    height: 30px;
    text-align: justify ;
    padding: 5px 4px 5px 5px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.85em ;
    display: inline;
    position: relative;
    top: 5px;
}

.col-wRv {
    width: 115px ;
    height: 30px;
    text-align: justify ;
    padding: 5px 0px 5px 4px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.85em ;
    display: inline;
    position: relative;
    top: 5px;
}

.col-wMvA {
    width: 100px ;
    height: 30px;
    text-align: justify ;
    padding: 5px 6px 5px 5px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.85em ;
    display: inline;
    position: relative;
    top: 5px;
}

.col-wMvB {
    padding: 1px;
    width: 22px;
    margin-right: -5px;
    margin-left: 2px;
    display: inline;
    position: relative;
    top: 3px;
}

.acc-bonus {
    padding-left: 0px;
    padding-top: 3px;
    padding-right: 0px;
    letter-spacing: -1px;
    background-color: transparent;
    border: none; font-size: 1.1em;
    font-family: monospace, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 12px !important;
}

.col-wMvD {
    width: 115px ;
    height: 30px;
    text-align: justify ;
    padding: 5px 2px 5px 0px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.85em ;
    display: inline;
    position: relative;
    top: 5px;
    left: 5px;
}

.col-wRvA {
    width: 86px ;
    height: 30px;
    text-align: left ;
    padding: 5px 3px 5px 0px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.85em ;
    display: inline;
    position: relative;
    top: 5px;
}

.col-wRvB {
    padding: 1px;
    width: 22px;
    margin-right: -5px;
    margin-left: -4px;
    display: inline;
    position: relative;
    top: 3px;
}

.col-wRvD {
    height: 30px;
    text-align: left ;
    padding: 5px 1px 5px 4px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.85em ;
    display: inline;
    position: relative;
    top: 5px;
}

.4colrowwdesc {
    margin: 1px;
    padding: 1px 1px 0px -1px;
    background-color: rgb(235, 235, 235);
    height: 100px;
}

textarea {
    height: 65px;
    width: 455px;
    margin: 1px;
    font-family: sans-serif;
}

.col-ma {
    height: 30px;
    text-align: left ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, sans-serif ;
    font-size: 0.9em ;
    display: inline;
    position: relative;
    top: 5px;
    width: 90px;
}

.col1-ba {
    height: 30px;
    text-align: justify ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.8em ;
    display: inline;
    position: relative;
    top: 5px;
    width: 60px;
}
.col2-ba {
    height: 30px;
    text-align: justify ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.8em ;
    display: inline;
    position: relative;
    top: 5px;
    width: 50px;
    position: relative;
    left: 0px;
}
.col3-ba {
    height: 30px;
    text-align: justify ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.8em ;
    display: inline;
    position: relative;
    top: 5px;
    width: 70px;
    border-left: 1px solid gray;
}
.col4-ba {
    height: 30px;
    text-align: justify ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.8em ;
    display: inline;
    position: relative;
    top: 5px;
    left: 7px;
    width: 115px;
}

.col-af {
    height: 30px;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.8em ;
    display: inline;
    position: relative;
    top: 5px;
    width: 90px;
    margin-right: -8px;
    text-align: justify ;
}

.col-afb {
    padding: 1px;
    width: 22px;
    margin-right: -5px;
    margin-left: -4px;
    display: inline;
}

/* ===== Semblance ===== */

.col-sem {
    height: 30px;
    text-align: left ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, sans-serif;
    font-size: 1em ;
    display: inline;
    position: relative;
    top: 5px;
}

.col-sem-desc {
    height: 30px;
    text-align: left ;
    padding: 5px;
    font-weight: bold ;
    Font-family: monospace, sans-serif;
    font-size: 1em ;
    display: inline;
    position: relative;
    top: 5px;
    width: 358px;
}

/* ===== INPUTS ===== */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;

}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number].roc::-webkit-inner-spin-button,
input[type=number].roc::-webkit-outer-spin-button {
    -webkit-appearance: enable;
    position: relative;
    right: -1px;
    width: 0.8em;
    z-index: 5;
    opacity: 0.5;
    background: url('https://github.com/Roll20/roll20-character-sheets/blob/master/RWBY_RoC-Unofficial_Tabletop_RPG/webkit.jpg?raw=true') center center;

}
input[type="number"].roc::-webkit-inner-spin-button:hover,
input[type="number"].roc::-webkit-inner-spin-button:active{
    box-shadow: 0 0 2px #0CF;
    opacity: 1;
}

input[type=number].roc {
    -moz-appearance: textfield;

}



.row input {
    height: 20px;
    padding: 0px;
    margin-top: -2px;
    padding: 0 2px;
    line-height: 22px;

    background: #FFFFFF;
    border: solid black 1px #000000;
    box-shadow: none;
    cursor: initial;
}

.box input[type="checkbox"] {
    opacity: 0;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1;
}

/* ===== CSS TOOLTIP ===== */
.popup {
    width: 30px ;
    text-align: center ;
    padding: 5px 2px 5px 2px;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.9em ;
}

.popup + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}

.popup:hover + .tooltip {
    width: auto;
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}

.popup + .tooltip {
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-box-shadow: 3px #CCC;
    -webkit-box-shadow: 3px #CCC;
    box-shadow: 3px #CCC;
}

.popupdatt {
    width: 30px ;
    color: DarkRed ;
    text-align: center ;
    padding: 5px ;
    font-weight: bold ;
    Font-family: monospace, sans-serif ;
    font-size: 1.1em ;
}

.popupdatt + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}

.popupdatt:hover + .tooltip {
    width: auto;
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}

.popupdatt + .tooltip {
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-box-shadow: 3px #CCC;
    -webkit-box-shadow: 3px #CCC;
    box-shadow: 3px #CCC;
}


.popup-def {
    width: 30px ;
    text-align: center ;
    padding: 2px ;
    font-weight: bold ;
    Font-family: monospace, ;
    font-size: 0.9em ;
}

.popup-def + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}

.popup-def:hover + .tooltip {
    width: auto;
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}

.popup-def + .tooltip {
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-box-shadow: 3px #CCC;
    -webkit-box-shadow: 3px #CCC;
    box-shadow: 3px #CCC;
}


.popup-semblance {
    width: 25px ;
    text-align: center ;
    padding: 0px ;
    font-weight: bold ;
    Font-family: monospace, sans-serif ;
    font-size: 1.1em ;
}

.popup-semblance + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
    position: relative;
    right: 7px;
}

.popup-semblance:hover + .tooltip {
    width: auto;
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}

.popup-semblance + .tooltip {
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-box-shadow: 3px #CCC;
    -webkit-box-shadow: 3px #CCC;
    box-shadow: 3px #CCC;
}


.popup-skill {
    width: 30px ;
    text-align: center ;
    padding: 5px 2px 5px 2px;
    font-weight: bold ;
    Font-family: sans-serif;
    font-size: 0.85em;
    display: inline;
}
.popup-skill-stat {
    width: 80px ;
    text-align: center ;
    padding: 5px 2px 5px 2px;
    font-weight: bold ;
    Font-family: monospace;
    font-size: 0.85em;
    display: inline;
}

.popup-skill + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}

.popup-skill:hover + .tooltip {
    width: auto;
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}

.popup-skill + .tooltip {
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-box-shadow: 3px #CCC;
    -webkit-box-shadow: 3px #CCC;
    box-shadow: 3px #CCC;
}


.defense + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.defense:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 40px;
    margin-left: -60px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col-wv3 + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-wv3:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -90px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col-wMv + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-wMv:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -90px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col-wMvD + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-wMvD:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -90px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col-wRv + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-wRv:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -90px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col-wRvA + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-wRvA:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -90px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col-wRvD + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-wRvD:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -90px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col- + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: -70px;
    margin-left: -50px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col-ma + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-ma:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: -110px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col1-ba + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col1-ba:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: -95px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}

.col2-ba + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col2-ba:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: -50px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}

.col3-ba + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col3-ba:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: -95px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.col-af + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-af:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: -50px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}

.col-afb + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-afb:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -250px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
}


.semblance + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.semblance:hover + .tooltip {
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 30px;
    margin-left: -69px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
    font-family: sans-serif;
    font-weight: none;
    font-size: 1em;
}
.col-wv + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.col-wv:hover + .tooltip {
    z-index: 10;
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: 25px;
    margin-left: -280px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
    font-family: sans-serif;
    font-weight: none;
    font-size: 1em;
}


.dust {
    font-family: monospace, sans-serif;
    font-size: 1.1em;
}
.dust + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.dust:hover + .tooltip {
    width: auto;
    z-index: 5;
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-left: -50px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
    font-family: sans-serif;
    font-weight: none;
    font-size: 1em;
}
.phial + .tooltip {
    z-index: 10;
    display: none;
    padding: 4px;
    text-align: left;
    margin-left: 0px;
    font-weight: normal;
    text-transform: initial;
    font-variant: initial;
}
.phial:hover + .tooltip {
    z-index: 10;
    width: auto;
    display: inline-block;
    position: absolute;
    margin-top: -220px;
    margin-left: -110px;
    color: #111;
    border: 1px solid gray;
    background: #ffffff;
    line-height: 1.5em;
    font-family: sans-serif;
    font-weight: none;
    font-size: 1em;
}

/*======================================================arrow===*/
/* hide original checkboxk */
input[type="checkbox"].arrow
{
    opacity: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
}
/* Fake checkbox */
input[type="checkbox"].arrow + span::before
{
    margin-left: -18px;
    margin-right: 5px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    content: "▼";
    opacity: 0.85;
    width: 14px;
    height: 14px;
    font-size: 11px;
}
input[type="checkbox"].arrow:checked + span::before
{
    content: "►";
}

input.arrow::before
{
    float: left;
}

input.arrow ~ div.additionnal
{
    display: none;
}

input.arrow:checked ~ div.additionnal
{
    display: block;
}




/* hide original checkboxk */
input[type="checkbox"].arrow2
{
    opacity: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
}
/* Fake checkbox */
input[type="checkbox"].arrow2 + span::before
{
    margin-left: -18px;
    margin-right: 5px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    content: "▼";
    opacity: 0.85;
    width: 14px;
    height: 14px;
    font-size: 11px;
}
input[type="checkbox"].arrow2:checked + span::before
{
    content: "►";
}

input.arrow2::before
{
    float: left;
}

input.arrow2 ~ div.unarmed
{
    display: none;
}

input.arrow2:checked ~ div.unarmed
{
    display: block;
}




/* hide original checkboxk */
input[type="checkbox"].arrow3
{
    opacity: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
}
/* Fake checkbox */
input[type="checkbox"].arrow3 + span::before
{
    margin-left: -18px;
    margin-right: 5px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    content: "▼";
    opacity: 0.85;
    width: 14px;
    height: 14px;
    font-size: 11px;
}
input[type="checkbox"].arrow3:checked + span::before
{
    content: "►";
}

input.arrow3::before
{
    float: left;
}

input.arrow3 ~ div.alternate
{
    display: none;
}

input.arrow3:checked ~ div.alternate
{
    display: block;
}


/* hide original checkboxk */
input[type="checkbox"].arrowmod
{
    opacity: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
}
/* Fake checkbox */
input[type="checkbox"].arrowmod + span::before
{
    margin-left: -15px;
    margin-right: 5px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    content: "▼";
    opacity: 0.85;
    width: 14px;
    height: 14px;
    font-size: 11px;
}
input[type="checkbox"].arrowmod:checked + span::before
{
    content: "►";
}

input.arrowmod::before
{
    float: left;
}

input.arrowmod ~ div.moddescfield
{
    display: none;
}

input.arrowmod:checked ~ div.moddescfield
{
    display: block;
}
input.arrowmod:checked ~ input.modnamefield
{
    width: 85%;
}

input.arrowmod ~ input.modnamefield
{
    width: 42%;
}
input.arrowmod:checked ~ input.modrapiddesc
{
    display: none;
}

input.arrowmod ~ input.modrapiddesc
{
    display: inline;
}


/* hide original checkboxk */
input[type="checkbox"].arrowmod
{
    opacity: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 1;
}
/* Fake checkbox */
input[type="checkbox"].arrowmod + span::before
{
    margin-left: -15px;
    margin-right: 5px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    content: "▼";
    opacity: 0.85;
    width: 14px;
    height: 14px;
    font-size: 11px;
}
input[type="checkbox"].arrowmod:checked + span::before
{
    content: "►";
}

input.arrowmod::before
{
    float: left;
}

input.arrowmod ~ div.phialfield
{
    display: none;
}

input.arrowmod:checked ~ div.phialfield
{
    display: block;
}
input.arrowmod ~ div.phialquick
{
    display: block;
}

input.arrowmod:checked ~ div.phialquick
{
    display: none;
}


/*----------------skilllist--------------------------*/

input.arrowmod ~ div.skilllist
{
    display: none;
}

input.arrowmod:checked ~ div.skilllist
{
    display: block;
}


/* hide original checkboxk */
input[type="checkbox"].arrow4
{
    opacity: 0;
    width: 20px;
    height: 9px;
    cursor: pointer;
    z-index: 1;
}
/* Fake checkbox */
input[type="checkbox"].arrow4 + span::before
{
    margin-left: -18px;
    margin-right: 5px;
    line-height: 9px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    content: "▼";
    opacity: 0.65;
    width: 14px;
    height: 9px;
    font-size: 7px;
}
input[type="checkbox"].arrow4:checked + span::before
{
    content: "►";
}

input.arrow4::before
{
    float: left;
}

input.arrow4 ~ div.version
{
    display: none;
}

input.arrow4:checked ~ div.version
{
    display: block;
}